<div class="page-one">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="card-body">
                <h6 class="information mt-4">Por favor, seleccione un día y horario</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nombre y Apellido">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Teléfono"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Email"> </div>
                        </div>
                    </div>
                </div>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                    <small class="agree-text">Al confirmar, serás redirigido a MercadoPago</small>
                    <a href="#" class="terms">Términos y condiciones</a>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-primary btn-block confirm-button">Confirmar turno</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-two hidden">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="card-body">
                <h6 class="information mt-4">Por favor, ingresa tus datos personales</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nombre y Apellido">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Teléfono"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Email"> </div>
                        </div>
                    </div>
                </div>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                    <small class="agree-text">Al confirmar, serás redirigido a MercadoPago</small>
                    <a href="#" class="terms">Términos y condiciones</a>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-primary btn-block confirm-button">Confirmar turno</button>
                </div>
            </div>
        </div>
    </div>
</div>





