<style>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
</style>

<div id="app">
    @*    Paso 1*@
    <transition name="fade" mode="out-in">
        <div class="page-one" id="page-one" v-if="pag == 1">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Por favor, seleccione un día y horario</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="button" class="form-control" placeholder="Día" v-on:click="setDia()" value="Día" style="text-align:left">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="button" placeholder="Horario" v-on:click="setHorario()" value="Horario" style="text-align:left">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-block confirm-button" id="btnSiguiente">Siguiente</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*    Paso Seleccionar dia*@
        <div class="page-two" id="page-two" v-else-if="pag == 2">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Por favor, seleccione un día</h5>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <template v-if="pag == 2">
                                    <Datepicker style="justify-content:center" v-model="date" model-type="dd/MM/yyyy" inline locale="es" :min-date="new Date()" :enable-time-picker="false" auto-apply />
                                </template>
                            </div>
                        </div>
                        <br />
                        <div v-if="pag == 2 && showError && date == ''">
                            <p style="text-align:center">Por favor, ingrese una fecha</p>
                        </div>
                        <div class="row">
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-block confirm-button" v-on:click="nextStep()" id="btnSiguiente">Siguiente</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*    Paso Seleccionar Horario*@
        <div class="page-three" id="page-three" v-else-if="pag == 3">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Por favor, seleccione un horario</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="information mt-4">Mañana</h6>
                                <div class="form-group">
                                    <button type="button" class="form-control" v-on:click="selectHora('09:00')"> 09:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('10:00')"> 10:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('11:00')"> 11:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('12:00')"> 12:00 </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="information mt-4">Tarde</h6>
                                <div class="form-group">
                                    <button type="button" class="form-control" v-on:click="selectHora('15:00')"> 15:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('16:00')"> 16:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('17:00')"> 17:00 </button>
                                    <button type="button" class="form-control" v-on:click="selectHora('18:00')"> 18:00 </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @*                            <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary btn-block confirm-button" v-on:click="nextStep()" id="btnSiguiente">Siguiente</button>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Paso Final*@
        <div class="page-four" id="page-four" v-else-if="pag == 4">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        <h5 class="information mt-4">Resumen del turno:</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Fecha:</label>
                                    <input class="form-control" disabled type="text" v-model="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Hora:</label>
                                <input class="form-control" disabled type="text" v-model="horaSeleccionada">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Profesional:</label>
                                <input class="form-control" disabled type="text" value=" Lic. Lucia Nazarena Chang">
                            </div>
                        </div>

                        <h5 class="information mt-4">Por favor, ingresa tus datos personales</h5>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nombre y Apellido:</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Teléfono:</label>
                                    <div class="input-group"> <input class="form-control" type="text"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <div class="input-group"> <input class="form-control" type="text"> </div>
                                </div>
                            </div>
                        </div>
                        <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                            <small class="agree-text">Al confirmar, serás redirigido a MercadoPago</small>
                            <a href="#" class="terms">Términos y condiciones</a>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary btn-block confirm-button">Confirmar turno</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<script>
    const app = Vue.createApp({

        data() {
            return {
                pag: 1,
                diaSeleccionado: 0,
                mesSeleccionado: "",
                diaMesSeleccionado: "",
                horaSeleccionada: "",
                date: "",
                showError: false
            }
        },
        components: {
            Datepicker: VueDatePicker
        },
        methods: {
            nextStep() {
                if (this.date == "") {
                    this.showError = true;
                } else {
                    this.pag++;
                }
            },
            setDia() {

                this.pag = 2;
            },
            setHorario() {
                this.pag = 3;

            },
            selectHora(hora) {
                this.horaSeleccionada = hora;
                this.pag++;

            }
        }
    });

    app.mount('#app');

</script>
